.intr-header{
  width: 3.75rem;
  position: relative;
  z-index: 3;
}
.intr-header1{
  display: flex;
  justify-content: space-between;
  padding: 0.06rem;
  span{
    width: 0.33rem;
    height: 0.33rem;
    border: 1px solid #eee;
    border-radius: 50%;
    background: url(../../assets/img/imgShops/arrow_left_r.png) no-repeat 0.07rem 0.07rem;
    background-size: 0.2rem;
  }
  span:nth-child(2){
    background: url(../../assets/img/imgShops/more_r.png) no-repeat 0.07rem 0.07rem;
    background-size: 0.2rem;
  }
}
.intr-header2{
  display: flex;
  justify-content: space-between;
  padding: 0.06rem;
  background-color: #f8f8f8;
  span{
    width: 0.33rem;
    height: 0.33rem;
    background: url(../../assets/img/imgShops/arrow_left_b.png) no-repeat 0.07rem 0.07rem;
    background-size: 0.2rem;
  }
  span:nth-of-type(2){
    background: url(../../assets/img/imgShops/more_b.png) no-repeat 0.07rem 0.07rem;
    background-size: 0.2rem;
  }
  div{
    width: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
      font-size: 0.16rem;
    }
  }
}

.swiper{
  position: fixed;
  top: 0;
}
.swiper-container {
  width: 3.75rem;
  height: 3.5rem;
  margin: 0 auto;
  --swiper-pagination-color: #f7192f;
}
.swiper-slide>img{
  width: 3.75rem;
  height: 3.5rem;
}

$color: #db4453;
.intr-about>*{
  padding-bottom: 0.1rem;
}
.intr-about{
  width: 3.75rem;
  padding: 0.12rem;
  box-sizing: border-box;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  h1{
    font-size: 0.15rem;
    color: #333;
  }
  h2{
    display: flex;
    justify-content: space-between;
    p{
      font-size: 0.2rem;
      color: $color;
      span{
        font-size: 0.12rem;
        color: $color;
      }
    }
    h3{
      font-size: 0.12rem;
      color: #333;
    }
  }
  .send{
    display: flex;
    margin-top: 0.05rem;
    div{
      margin-right: 0.1rem;
    }
    div:nth-of-type(2){
      width: 0.8rem;
      span{
        display: inline-block;
        padding:0rem 0.1rem 0.1rem 0rem;
      }
      span:first-child{
        color: #333;
      }
      span:nth-of-type(2){
        color: $color;
      }
      span:nth-of-type(3){
        font-size: 0.12rem;
      }
    }
  }
  .selected{
    display: flex;
    justify-content: space-between;
    padding: 0.15rem 0.1rem 0rem;
    margin: 0rem -0.12rem;
    border-top: 1px solid #eee;
    font-size: 0.12rem;
    span{
      padding: 0.01rem 0.05rem 0.04rem;
      border: 1px solid #ddd;
      margin-left: 0.1rem;
    }
  }
}
.right-del{
  width: 0.23rem;
  height: 0.23rem;
  background: url(../../assets/img/imgShops/arrow_right_b.png) no-repeat 0.02rem;
  background-size: 0.15rem;
  opacity: .4;
}
.intr-appraise,.intr-shop>div{
  padding: 0.12rem 0.1rem;
}
.intr-appraise{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1{
    span{
      font-size: 0.12rem;
      color: $color;
      margin-left: 0.1rem;
    }
  }
  h2{
    font-size: 0.12rem;
  }
}
.intr-shop{
  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      display: flex;
      align-items: center;
      color: #333;
      font-size: 0.15rem;
      span{
        display: inline-block;
        width: 0.22rem;
        height: 0.22rem;
        background: url(../../assets/img/imgShops/store_b.png) no-repeat 0.02rem 0.03rem;
        opacity: .5;
        background-size: 0.14rem;
      }
    }
    
  }
  h2{
    display: flex;
    justify-content: space-between;
    margin: 0rem 0.1rem;
    padding: 0.12rem 0.15rem 0.12rem 0rem;
    border-top: 1px solid #eee;
    p{
      span:nth-of-type(1){
        font-size: 0.12rem;
        margin-right: 0.05rem;
      }
      span:nth-of-type(2){
        color: $color;
        font-weight: bold;
        position: relative;
        top: 0.03rem;
        margin-right: 0.05rem;
      }
      span:nth-of-type(3){
        background-color: $color;
        color: #fff;
        display: inline-block;
        height: 0.16rem;
        padding: 0rem 0.01rem;
        border-radius: 0.03rem;
      }
    }
  }
}

.intr-recommend{
  padding: 0.1rem;
  div{
    font-size: 0.12rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a{
      margin-top: 0.1rem;
      img{
        width: 0.71rem;
        border: 1px solid #eee;
      }
      h2{
        width: 0.72rem;
        height: 0.31rem;
        line-height: 0.15rem;
        overflow: hidden;
        margin: 0.05rem 0rem;
      }
      p{
        margin: 0.05rem 0rem;
        color: #333;
      }
    }
  }
}
.more{
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  background-color: #f5f5f5;
}

.intr-footer{
  background-color: #f8f8f8;
  display: flex;
  text-align: center;
  a{
    padding-top: 0.07rem;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    img{
      width: 0.16rem;
      opacity: .7;
      margin: 0 auto;
    }
    p{
      padding: 0.04rem 0.15rem;
    }
  }
  span{
    width: 1.21rem;
    height: 0.45rem;
    line-height: 0.45rem;
    background-color: #ed5564;
    font-weight: bold;
    font-size: 0.16rem;
    color: white;
  }
  span:nth-of-type(2){
    background-color: #fb6e52;
  }
}